.button {
  border: 1px solid purple;
  background-color: rgb(255, 174, 0);
  padding: 4px;
  cursor: pointer;
}

.block {
  background-color: sandybrown;
}

.x {
  cursor: pointer;
}

.fa {
  stroke: none;
}
